:root {
  --primary: #000000;
  --primary-text: #ffffff;
  --secondary: #00000000;
  --secondary-text: #ffffff;
  --accent: #00000000;
  --accent-text: #ffffff;
  --mint-text: #ff0000;
  --wallet-adress: #ff0000;
  --Gif-lines: #00000000;
  --Button-color: #000000;
  
}
